<!-- <h2>{{hero.name | uppercase}} Details</h2>
<label for="name">Hero name: </label>
<input id="name" [(ngModel)]="hero.name" placeholder="name"> -->

<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
  </li>
</ul>
<!-- 这是一种单向数据绑定。从 HeroesComponent 的 selectedHero 属性绑定到目标元素的 hero 属性，并映射到了 HeroDetailComponent 的 hero 属性。 -->
<!-- <app-hero-detail [hero]="selectedHero"></app-hero-detail> -->
